<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>317627788325-8sq0e9lut7sbtkhcriegfrcvc4p2sl04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317627788325-8sq0e9lut7sbtkhcriegfrcvc4p2sl04</string>
	<key>API_KEY</key>
	<string>AIzaSyCtF8_X2Fm9Q7rwQOT66oGCpu2GhTENBh0</string>
	<key>GCM_SENDER_ID</key>
	<string>317627788325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.t101.UpdateMyStringFirebase</string>
	<key>PROJECT_ID</key>
	<string>updatemystring</string>
	<key>STORAGE_BUCKET</key>
	<string>updatemystring.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317627788325:ios:ac762fb83f741e4d</string>
	<key>DATABASE_URL</key>
	<string>https://updatemystring.firebaseio.com</string>
</dict>
</plist>